.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: white;
}

.App-header{
  background-color: lightblue;
  height: 120px;
  width: 1200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Info{
  background-color: white;
  width: 1200px;
  height: 580px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Info, .App-header{
  border: solid black 1px;
}

button {
  border: solid white 1px;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  margin: 5px;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s ease; /* Added transition effect */
}

button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

button:active {
  background-color: #003d80; /* Even darker color when pressed */
}

.table-container, .utlan-container {
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px; /* Smaller padding */
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container-insert {
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px; /* Smaller padding */
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em; /* Adjust font size as needed */
}

.styled-table th, .styled-table td {
  border: 1.5px solid blue;
  padding: 6px; /* Smaller padding */
  text-align: center;
  background-color: white;
}

.insert{
  width: 100px;
}

.table-container{
  width: 1000px;
  height: 450px;
}

.utlan-container{
  width: 1000px;
  height: 450px;
}

.buttons{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.godkjen{
  border: solid white 1px;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  margin: 5px;
  color: white;
  background-color: #28a745; /* Green background color */
  transition: background-color 0.3s ease; /* Added transition effect */
}

.godkjen:hover{
  background-color: #218838; /* Darker green on hover */
}

.godkjen:active{
  background-color: #1e7e34; /* Even darker green when pressed */
}

.avis{
  border: solid white 1px;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  margin: 5px;
  color: white;
  background-color: #dc3545; /* Red background color */
  transition: background-color 0.3s ease; /* Added transition effect */
}

.avis:hover{
  background-color: #c82333; /* Darker red on hover */
}

.avis:active{
  background-color: #bd2130; /* Even darker red when pressed */
}