.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.App-header{
  background-color: #635D5C;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Info{
  background-color: #D0FFCE;
  width: 940px;
  height: 480px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Info, .App-header{
  border: solid black 1px;
}

button{
  border: black solid 0px;
  color: white;
  background-color: #3D2B3D;

  border: solid white 1px;
  border-radius: 20px;
  width: 225px;
  height: 50px;
  margin: 5px;
}
