.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: #E6BB68;
}

div, header{
  border: black solid 0px;
}

header{
  display: flex;
  background-color: #E5E5E5;
  height: 50px;
  margin-bottom: 15px;
  justify-content: right;
}

.hjem{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tilgjengeligeKurs{
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.lines{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}

.dineKurs{
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.kursNorsk, .kursGrunnleggende_datakunnskap, .kursHeimkunnskap, .kursKroppsøving{
  background-color: #858585;
  width: 300px;
  height: 150px;
  margin: 15px;
}

.nameOfBox{
  background-color: #E0E0E0;
}